/*Content*/
/*kk*/
     /*Video*/
          .about-video-overlay{
               color:rgba(0,0,0,.9);
               font-size:2em;
               height:450px;
               padding-top:3.5em;
               padding-left:2.5em;
               position:absolute;
               text-shadow: 1px 1px 2px rgba(255,255,255,.25);
               width:100%;
          }

          .about-video-overlay img{
               width:17em;
          }

          .about-play-icon{
               color:rgba(150,10,0,.5);
               font-family:"Fontello";
               font-size:9em;
               padding-top:1em;
               /*overflow:hidden;*/
               position:absolute;
               text-align:center;
               /*text-shadow: 1px 1px 2px rgba(79,79,79,.25);*/
               width:100%;
          }

          .about-play-icon:hover{
               /*background-color:rgba(255,255,255,.15);*/
               color:rgba(0,108,184,.9);
               height:450px;
               width:100%;
          }

          .about-founders-image{
               /*height:450px;*/
               /*overflow:hidden;*/
               width:100%;
          }

          .about-founders-image img{
               height:450px;
               width:100%;
          }

          #about-ourstory-timeline{
               margin:1em 2em 1em 2em;
          }

          .about-ourstory-timeline-images{
               height:200px;
          }

          .about-ourstory-heading{
               color:rgba(74,74,74,1);
               font-size:1.5em;
               font-weight:bold;
               text-transform:uppercase;
          }

          #about-ourstory-thebeginning{
               text-align:justify;
          }

          #about-ourstory-thebeginning img{
               height:50px;
               /*padding:0em 2em;*/
          }

          .about-team-members{
               width:100%;
          }

          .about-affiliates-names{
               color:rgba(74,74,74,1);
               font-weight:bold;
          }