.faq-title{
font-weight:bold;
font-size:24px;
line-height:30px;
}

.faq-title:hover {
cursor:pointer;
}

.faq-heading-question {
color:#4a4a4a;
font-size:19px;
}

.faq-heading-question:hover {
color:#006cb8;
cursor:pointer;
}

.faq {
display:inline-block;
width:99%;
margin:1% 0%;
padding:10px;
background-color: rgba(255,255,255,.9);
border: 5px solid rgba(239,239,239,1);
}

.faq .question {
font-size:20px;
margin:0;
line-height:25px;
color:#006cb8;
}

.faq .answer {
font-size:16px;
margin:0;
line-height:20px;
}

.faq-anchor{
display:block;
position:relative;
top:-90px;
visibility:hidden;
}