@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family:Verdana, Geneva, sans-serif; /* Set default Font Family */
	color:#000000; /* Set default Font Color */
	font-size:16px;
	background-image:url('images/background.png');
	background-size:cover;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

em {
	font-style:italic;
	}

a {
	text-decoration:none;
	color:#000000;
	font-size:16px;
	}

@font-face{
  font-family: Light;
  src: url(../fonts/HelveticaNeueLTPro-Lt.otf);
}

@font-face{
  font-family: Medium;
  src: url(../fonts/HelveticaNeueLTPro-Md.otf);
}

/*                         INDEX                              */

/************** PAGE WRAP ***************/
#page-wrap {
	height:766px;
	width:1024px;
	margin:0px auto 0px auto;
	/*background-color:green;*/
}

/************** HEADER ***************/

header {
  height:15%;
  width:100%;
  background-color: #efefef;
}

#topbar {
  height:25%;
  width:100%;
  background-color:#4a4a4a;
  float:left;
  bottom-margin:1%;
}

#logo-and-icons{
  height:75%;
  width:40%;
  /*background-color:green;*/
  display:inline-block;
  float:left;
}

#logo {
  height:100%;
  width:30%;
  /*background-color:red;*/
  float:left;
}

#logo-text {
  height:50%;
  width:70%;
  /*background-color:purple;*/
  display:inline-block;
}

#adi_header_logo_text {
  margin-left:4%;
  margin-top:4%;
}

#contact-icons-field {
  height:50%;
  width:70%;
  /*background-color:yellow;*/
  display:inline-block;
}



.contact-icons {
  height:100%;
  width:15%;
  margin-left:10%;
  float:left;
}


#navbar nav {
  height:52.5%; /*55%*/
  width:57%; /*60%*/
  /*background-color:blue;*/
  display:inline-block;
  padding-top:2.5%;
  padding-left:3%;
}
/**tiff's addon*/
#navbar nav ul {
	display:block;
	z-index:999999;
}
#navbar nav ul li {
	display:inline-block;
	padding:0;
	margin-left:4%;
	position:relative;
}
/**end of tiff's addon*/
#navbar nav ul li a {
  display:inline-block;
  float:left;
  margin-top:2%;
  margin-left:4%;
  font-family: Light;
  font-size:1em;
}
/**tiff' addon **/
#navbar nav ul li a:link {
  display:inline-block;
  position:relative;
 
}
/*end of tiff's add on'*/
#navbar nav ul li a:hover {
  color: #087cb3;
  background-color: white;
}
/* start of tiffany's nav dropdown'*/
#navbar nav ul li a:active{
	color:#e25d29;
	text-decoration:none;
}

#navbar nav ul li.current a {
	color: #087cb3;
	cursor: default;
}
#navbar nav ul li.current ul li a{
	cursor:pointer;
}
#navbar nav li ul.sub_menu{
	display: none;
	position: absolute;
	top:30px;
	left:0;
	width: 100px;
}
/*** finally solved the problem with drop down not appearing, you need to add this***/
#navbar nav ul li:hover ul.sub_menu{
	display:block
}