@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family:Verdana, Geneva, sans-serif; /* Set default Font Family */
	color:#000000; /* Set default Font Color */
	font-size:16px;
	background-image:url('images/background.png');
	background-size:cover;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

em {
	font-style:italic;
	}

a {
	text-decoration:none;
	color:#000000;
	font-size:16px;
	}

@font-face{
  font-family: Light;
  src: url(../fonts/HelveticaNeueLTPro-Lt.otf);
}

@font-face{
  font-family: Medium;
  src: url(../fonts/HelveticaNeueLTPro-Md.otf);
}

/*                         INDEX                              */

/************** PAGE WRAP ***************/
#page-wrap {
	height:766px;
	width:1024px;
	margin:0px auto 0px auto;
	/*background-color:green;*/
}

/************** HEADER ***************/

header {
  height:15%;
  width:100%;
  background-color: #efefef;
}

#topbar {
  height:25%;
  width:100%;
  background-color:#4a4a4a;
  float:left;
  bottom-margin:1%;
}

#logo-and-icons{
  height:75%;
  width:40%;
  /*background-color:green;*/
  display:inline-block;
  float:left;
}

#logo {
  height:100%;
  width:30%;
  /*background-color:red;*/
  float:left;
}

#logo-text {
  height:50%;
  width:70%;
  /*background-color:purple;*/
  display:inline-block;
}

#adi_header_logo_text {
  margin-left:4%;
  margin-top:4%;
}

#contact-icons-field {
  height:50%;
  width:70%;
  /*background-color:yellow;*/
  display:inline-block;
}



.contact-icons {
  height:100%;
  width:15%;
  margin-left:10%;
  float:left;
}

/*** navbar ****/
nav {
  height:52.5%; /*55%*/
  width:57%; /*60%*/
  /*background-color:blue;*/
  display:inline-block;
  padding-top:2.5%;
  padding-left:3%;
}

nav ul li a {
  display:inline-block;
  float:left;
  margin-top:2%;
  margin-left:4%;
  font-family: Light;
  font-size:1em;
}

nav ul li a:hover {
  color: #087cb3;
}

nav ul li a:active{
	color:  #087cb3;
	text-decoration: none;
}

nav ul li span{
	position:absolute;
	right:-12px;
	bottom:6px;
	width:7px;
	height:8px;
	margin:0 0 0 3px;
	float:right;
	display:block;
	
}
/***this is for if the current page that you are on is active */
nav ul li.current a {
	color: #087cb3;
	cursor: default;
}

 nav ul li.current ul li a {
	cursor:pointer;
}
 nav ul li ul.sub_menu {
	position:absolute;
	top:90px;
	left:0;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #ececec;
	border-top:5px solid blue;
	display:none;
	z-index:999999;
    -moz-box-shadow: 0px 6px 7px #121012;
    -webkit-box-shadow: 0px 6px 7px #121012;
    box-shadow: 0px 6px 7px #121012;
}
/*=====submenu======*/
 nav ul li ul.sub_menu li.arrow_top {
	position:absolute;
	top:-12px;
	left:12px;
	width:13px;
	height:8px;
	display:block;
	border:none;
	background:url('images/arrow_top.png') no-repeat left top;
}
nav ul li ul.sub_menu li {
	float:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #ececec;
}
 nav ul li ul.sub_menu li a {
	white-space: nowrap;
	width: 150px;
	padding:12px;
	font:13px Arial, tahoma, sans-serif;
	text-transform:capitalize;
	color:#777;
}
nav ul li ul.sub_menu li a:hover {
	background:#f9f9f9;
	color:#333;
}
/* ===== submenu list line subactive tag */
 nav ul li ul.sub_menu li a.subCurrent {
	color:#e25d29;
	cursor:default;
}
nav ul li ul.sub_menu li a.subCurrent:hover {
	background:none;
}
