/*Colors:
     -Blue: #006cb8, rgba(0,108,184,1)
     -Blue (EcoQube): #015189, rgba(0,81,137,1)
     -Green: #26a02f, rgba(38,160,47,1)
     -Gray: #4a4a4a, rgba(74,74,74,1)
     -Gray (Light): #efefef, rgba(239,239,239,1)*/

/*Fonts*/
     @font-face{
          font-family:"Helvetica Neue LT Pro Thin";
          src:url("../fonts/HelveticaNeueLTPro-Th.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Thin Extended";
          src:url("../fonts/HelveticaNeueLTPro-ThEx.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Thin Condensed";
          src:url("../fonts/HelveticaNeueLTPro-ThCn.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Light";
          src:url("../fonts/HelveticaNeueLTPro-Lt.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Light Extended";
          src:url("../fonts/HelveticaNeueLTPro-LtEx.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Light Italic";
          src:url("../fonts/HelveticaNeueLTPro-LtIt.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Medium";
          src:url("../fonts/HelveticaNeueLTPro-Md.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Extended";
          src:url("../fonts/HelveticaNeueLTPro-Ex.otf");
     }

     @font-face {
          font-family:"Fontello";
          src: url('../fonts/fontello.eot?');
          src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fontello.woff?') format('woff'),
          url('../fonts/fontello.ttf?') format('truetype'),
          url('../fonts/fontello.svg?#fontello') format('svg');
     }

     *, *:before, *:after { /*Borders and padding are drawn inside the set width of the content*/
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
     }

*{
     font-family:"Helvetica Neue LT Pro Light";
     font-size:16px;
}

html{
     border:0;
     margin:0 auto;
     padding:0;
}

body{
     border:0;
     margin:0 auto;
     max-width:1600px;
     min-width:1280px;
     padding:0;
}

.center {
     text-align:center;
}

p, a, h1, h2, h3, h4, h5, h6 {
  color:#4a4a4a;
}

.current{
     color:rgba(0,108,184,1);
}

.upper-margin{
     margin-top:100px;
}

.lower-margin{
     margin-bottom:114px;
}

a {
     /*color:#4a4a4a;*/ /*E: I think the links should be blue...*/
     color:rgba(0,108,184,1);
     text-decoration:none;
}

ul {
     list-style:none;
}

/*** shopping cart ***/
     .shopping-cart{
          display: block;
          width: 220px;
     }

     .shopping-cart  ul.shopping-cart-submenu  ul.shopping-header li{
          background-color: grey;
          color: white;
          float:left;
     }

     .shopping-cart-submenu{
          clear:both;
          display: none;
     }

/*Header*/
     #header-container{
          background-color:rgba(250,250,250,.98);
          box-shadow:2px 2px 2px rgba(0,0,0,.08);
          height:100px;
          margin:0;
          max-width:1600px;
          min-width:1280px;
          padding:8px 8px 8px 16px;/*Inner content padding*/
          position:fixed;/*Fixed header*/
          width:100%;/*Keep the header running the length of the screen*/
          z-index:100000;/*Keep the header always topmost*/
     }

     /*Logo*/
          #header-logo{
               float:left;
               height:35%;
               /*min-width:350px;*/
               /*width:35%;*/
          }

          #header-logo img{
               height:100%;
               /*width:100%;*/
          }

     /*Navigation*/
          #header-navigation{
               float:right;
               padding-top:35px;
          }

          /*#header-navigation ul li{
               display:block;
               float:left;
               list-style:none;
          }*/

          /*#header-navigation ul, #header-navigation li{
               display:inline;
               list-style:none;
               position:absolute;
               width:auto;
          }*/

          /*Dropdown*/
               #header-navigation ul{
                    display:inline;
                    list-style:none;
                    margin:0;
                    padding:0;
                    z-index:200;
               }

               #header-navigation ul li{
                    float:left;
                    display:block;
                    padding:10px 15px 5px 15px;
                    position:relative;
               }

               #header-navigation ul li ul {
                    display: none;
               }

               #header-navigation ul li a {
                    display:block;
                    margin-left:1px;
                    text-decoration:none;
                    white-space:nowrap;
               }

               /*#header-navigation ul li a:hover {
                    z-index:10;
               }*/

               #header-navigation ul li:hover {
                    padding-bottom:7px;
                    z-index:200;
               }

               #header-navigation ul li ul li:hover {
                    border-radius:0;
               }

               #header-navigation li:hover ul {
                    background:rgba(250,250,250,.98);
                    box-shadow:2px 2px 2px rgba(0,0,0,.1);
                    display: block;
                    left:0px;
                    position:absolute;
                    top:45px;
               }

               #header-navigation li:hover li {
                    float:none;
                    padding:10px 15px 10px 14px;
               }

               #header-navigation li:hover div {
                    display:inline-block;
               }

               #header-navigation li:hover li:first-of-type{
                    border-top:7px solid rgba(79,79,79,1);
               }

          /*Header Links' Style*/
               #header-current{
                    color:rgba(0,108,184,1);
                    background-image: url(../img/underline-bar.png);
                    background-repeat: repeat-x;
                    background-position: 100% 100%;
               }

               .header-heading{
                    font-weight:bold;
                    text-transform:uppercase;
               }

               header a:link{
                    color:rgba(79,79,79,1);
                    font-family:"Helvetica Neue LT Pro Thin Condensed";
                    font-size:24px;
                    letter-spacing:2.5px;
                    text-decoration:none;
               }

               header a:visited{
                    color:rgba(79,79,79,1);
                    text-decoration:none;
               }

               header a:hover{
                    color:rgba(0,108,184,1);
                    text-decoration:none;
               }

               header a:active{
                    color:rgba(79,79,79,1);
                    text-decoration:none;
               }

          /*Header Cart*/
               #header-icon-cart{
                    font-family:"Fontello";
                    font-size:24px;
               }

     /*Shoppingcart dropdown*/
          #shoppingcart-dropdown{
          display:inline-block;
          width:250px;
          height:300px;
          background-color:#efefef;
          position:absolute;
          z-index:1000;
          top:45px;
          right:10px;
          box-shadow:2px 2px 2px rgba(0,0,0,.25);
          }


          #shoppingcart-header{
          display:inline-block;
          background-color:rgba(74,74,74,1);
          width:100%;
          height:10%;

          }

          #shoppingcart-header p {
          font-family:"Helvetica Neue LT Pro Light";
          font-size:18px;
          margin:8px 0px 3px 8px;
          color:#efefef;
          }

          #shoppingcart-product-field{
          overflow:auto;
          display:inline-block;
          /*background-color:green;*/
          width:100%;
          height:70%;
          float:left;
          }

          .shoppingcart-product{
          display:inline-block;
          /*background-color:blue;*/
          width:95%;
          height:30%;
          margin:2% 2.5% 0% 2.5%;
          border:0.5px black solid;
          }

          #shoppingcart-footer{
          display:inline-block;
          background-color:rgba(74,74,74,1);
          text-align:center;
          width:100%;
          height:20%;
          }

          #shoppingcart-summary{
          width:100%;
          height:70%;
          float:left;
          display:inline-block;
          text-align:left;
          }

          #shoppingcart-summary p{
          color:#efefef;
          margin:0;
          }

          #totals{
          margin-top:5px;
          display:inline-block;
          float:left;
          height:100%;
          width:40%;
          }
          #total-values{
          margin-top:5px;
          display:inline-block;
          float:left;
          height:10%;
          width:30%;
          }

          #shoppingcart-notification{
          width:100%;
          height:30%;
          background-color:rgba(38,160,47,1);
          display:inline-block;
          }

          #shoppingcart-notification p {
          font-family:"Helvetica Neue LT Pro Medium";
          font-size:8px;
          margin:5px 0 0 2px;
          color:black;
          }

     /*Dot navigation*/
          #dot-navigation-container{
               /*background-color:white;*/
               height:auto;
               left:97%;
               position:fixed;
               top:35%;
               width:auto;
               z-index:9;
          }

          #dot-navigation-container ul{
               margin:0;
               padding:0;
          }

          .dot-navigation-icon {
               margin:2px;
               /*background-color:green;*/
          }

          a.anchor{
               display:block;
               position:relative;
               top:-100px;
               visibility:hidden;
          }

          .dot-hover:hover:after{
            background: rgba(0,0,0,.75);
            border-radius: 2px;
            color: #fff;
            content: attr(data-title);
            right:35px;
            padding: 5px 5px 2px 5px;
            position: absolute;
            z-index: 98;
            white-space: nowrap;
            color:#efefef;
            font-size:16px;
            line-height:14px;
          }

/*Content*/
     #content-container{
          background:url("../img/green-cup.png") repeat;
          padding-top:100px;
          padding-bottom:75px;
          width:100%;
     }

     /*First section -- This id tag should only be used once per page*/
          .first-section-margin{
               /*margin-top:100px;*/
          }

     /*Last section -- This id tag should only be used once per page*/
          .last-section-margin{
               /*margin-bottom:100px;*/
          }

     /*All sections*/
          .section-container{
               display:inline-block;
               width:100%;
          }

          .section-content{
               margin:0 auto;
               max-width:1080px;
               padding-bottom:50px;
               padding-top:50px;
          }

          .section-heading{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Extended";
               font-size:40px;
          }

          .section-heading-2{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light Extended";
               font-size:32px;
          }

          .section-blurb{
               height:350px;
               overflow:hidden;
          }

          .section-blurb img{
               width:100%;
          }

          /*.section-text{
               font-size:1.1em;
          }*/

/*Footer*/
     #footer-container{
          background-color:rgba(250,250,250,.98);
          width:100%;
     }

     #footer-topbar{
          background-color:rgba(0,108,184,1);
          color:rgba(255,255,255,1);
          padding:8px 0 8px 0;
          text-align:center;
          text-transform:uppercase;
          width:100%;
     }

     footer{
          padding:8px 0px 16px 20px;
          min-width:1280px;
          max-width:100%;
     }

          #footer-left-col{
               display:inline-block;
               float:left;
               min-width:300px;
               max-width:23%;
          }

               #footer-logo img{
                    width:100%;
               }

          #footer-right-col{
               display:inline-block;
               float:right;
               min-width:925px;
               max-width:75%;
          }

               /*Contact bar*/
                    #footer-contact{
                         display:inline-block;
                         font-size:26px;
                         padding:0px 35px 0px 10px;
                         width:100%;
                    }

                    #footer-contact li{
                         display:inline;
                         float:left;
                         list-style:none;
                    }

                    /*Phone and e-mail*/
                         #footer-phone-email{
                              display:inline;
                              float:left;
                         }

                         #footer-icon-email{
                              font-family:"Fontello";
                              font-size:16px;
                              padding-right:2px;
                         }

                         #footer-icon-phone{
                              font-family:"Fontello";
                              font-size:16px;
                              padding-left:11px;
                              padding-right:5px;
                         }

                    /*Social media*/
                         #footer-social-media{
                              display:inline;
                              float:right;
                         }

                         #footer-icon-fb{
                              font-family:"Fontello";
                              font-size:33px;
                         }

                         #footer-icon-tw{
                              font-family:"Fontello";
                              font-size:33px;
                              padding:0px 0px 0px 25px;
                         }

               /*Sitemap*/
                    #footer-sitemap-container{
                         width:100%;
                    }

                    #footer-sitemap{
                         /*display:inline-block;*/
                         float:right;
                         font-size:16px;
                         margin-left:auto;
                         margin-right:auto;
                         padding-top:20px;
                         text-align:justify;
                    }

                    #footer-sitemap ul{
                         display:inline-block;
                         float:left;
                         list-style:none;
                         padding:0px 35px 0px 35px;
                    }

                    #footer-sitemap ul li:first-child{
                         font-weight:bold;
                         text-transform:uppercase;
                    }

          #footer-copyright{
               color:rgba(74,74,74,1);
               display:inline-block;
               font-size:11px;
               text-align:center;
               text-transform:uppercase;
               width:100%;
          }

          /*Footer Links*/
               footer a:link{
                    color:rgba(74,74,74,1);
                    font-family:"Helvetica Neue LT Pro Light";
                    text-decoration:none;
               }

               footer a:visited{
                    color:rgba(74,74,74,1);
                    font-family:"Helvetica Neue LT Pro Light";
                    text-decoration:none;
               }

               footer a:hover{
                    color:rgba(0,108,184,1);
                    font-family:"Helvetica Neue LT Pro Light";
                    text-decoration:none;
               }

               footer a:active{
                    color:rgba(74,74,74,1);
                    font-family:"Helvetica Neue LT Pro Light";
                    text-decoration:none;
               }
