/*Content*/

/*---learn homepage----*/
	.learn-message{
		display:inline-block;
		height: 2em;
		text-align:center;
		padding-bottom: 10%;
	}
	.learn-topic-container{
		display:block;
		float:left;
		width: 100%;
		padding-left: 15em;
		padding-bottom: 10%
	}
	.learn-ecosystems{
		float:left;
		width:40%;
		margin: 1em;
	}
	.learn-blog{
		float:left;
		width: 40%;
		margin: 1em;

	}
