/*Content*/
	.quote-col-1-of-2{
		float:left;
		width: 50%; 
		margin: 5em; 
		display:inline-block;
	}
	.quote-col-2-of-2{
		float:left;
		width: 50%; 
		margin: 5em; 
	}
	
	.quote-col-1-of-2 form{
		float:left;
	}
     /*Video*/
          .services-video-overlay{
               color:rgba(255,255,255,.9);
               font-size:2em;
               height:450px;
               padding-top:3.5em;
               padding-left:2.5em;
               position:absolute;
               text-shadow: 1px 1px 2px rgba(0,0,0,.25);
               width:100%;
          }

          .services-video-overlay img{
               width:17em;
          }

          .services-play-icon{
               color:rgba(255,255,255,.5);
               font-family:"Fontello";
               font-size:9em;
               padding-top:1em;
               /*overflow:hidden;*/
               position:absolute;
               text-align:center;
               /*text-shadow: 1px 1px 2px rgba(79,79,79,.25);*/
               width:100%;
          }

          .services-play-icon:hover{
               /*background-color:rgba(255,255,255,.15);*/
               color:rgba(0,108,184,.9);
               height:450px;
               width:100%;
          }

          .services-video-image{
               /*height:450px;*/
               /*overflow:hidden;*/
               width:100%;
          }

          .services-video-image img{
               height:450px;
               width:100%;
          }

     /*Blurbs*/
          .services-blurb img{
               height:300px;
               overflow:hidden;
               width:100%;
          }

          .services-blurb-overlay{
               background-color:rgba(0,0,0,.25);
               color:rgba(255,255,255,.9);
               font-family:"Helvetica Neue LT Pro Thin Extended";
               font-size:2em;
               height:300px;
               overflow:hidden;
               padding-top:1.8em;
               position:absolute;
               text-align:center;
               text-shadow: 1px 1px 2px rgba(38,160,47,.5);
               width:100%;
          }




          #ourstory-slide img{
               background:rgba(255,255,255,.08);
               border-bottom:4px solid rgba(255,255,255,.08);
               border-left:2px solid rgba(255,255,255,.08);
               border-right:2px solid rgba(255,255,255,.08);
               border-top:4px solid rgba(255,255,255,.08);
               width:100%;
          }
.about-ourstory-images{
               height:200px;
          }