/*Content*/
     /*Contact form*/
          .quote-col-1-of-2{
          float:left;
          width: 23%; 
          margin: 50px;
          display:inline-block;

          }
          .quote-col-2-of-2{
          float:left;
          width: 60%; 
          margin: 50px;
          }

          .quote-col-1-of-2 form{
          float:left;
          }

          /* ---form----*/
          label {
          display:block;
          margin-top:10px;
          letter-spacing: 3px;
          }
          .contact{
          margin: 0, auto; 
          width: 500px;	
          padding-bottom: 10px;
          }

          /* Style the text boxes */
          .contact_input, textarea {
          width:300px;
          height:30px;

          border:1px solid #dedede;
          }
          textarea {
          height:213px;
          width: 340px;

          }	
          .mandatory:before { 
          content: "  *";
          vertical-align: top;
          margin-right: 4px;
          font-size: 20px;
          color: #d35400;
          display:inline;
          }

          .mandatory :after{
          /* Empty content, but required for pseudo element to display */
          content: " *";
          display:inline;
          /* Size of star within sprite */
          vertical-align: top;
          margin-right: 4px;
          font-size: 20px;
          color: #d35400;
          }
          .star::before{
          content: "  *";
          vertical-align: top;
          margin-right: 4px;
          font-size: 20px;
          color: #d35400;
          display:inline;}

          input:focus, textarea:focus {
          border:2px solid #5f3a09;
          }

          #submit {
          width:75px;
          height:50px;
          background-image: url("../img/services/submit.png");
          background-repeat: no-repeat;
          text-indent:-9999px;
          border:none;
          margin-top:20px;
          cursor:pointer;
          display: block;
          margin-left: 270px;

          }

          #submit:hover {
          opacity:.9;
          }

          .consult{
          font-weight:bold;
          font-size: 30px;
          }
          .call {
          font-weight: 900;
          font-size: 28px;
          }

     /*Video*/
          .services-video-overlay{
               color:rgba(255,255,255,.9);
               font-size:32px;
               height:450px;
               padding-top:115px;
               padding-left:75px;
               position:absolute;
               text-shadow:1px 1px 2px rgba(0,0,0,.25);
               width:100%;
          }

          .services-video-overlay img{
               width:375px;
          }

          .services-play-icon{
               color:rgba(255,255,255,.75);
               font-family:"Fontello";
               font-size:125px;
               min-width:1280px;
               padding-top:150px;
               position:absolute;
               text-align:center;
               width:100%;
          }

          .services-play-icon:hover{
               color:rgba(0,108,184,.9);
               height:450px;
               width:100%;
          }

          .services-video-image{
               /*height:450px;*/
               /*overflow:hidden;*/
               width:100%;
          }

          .services-video-image img{
               height:450px;
               width:100%;
          }

     /*Blurbs*/
          .services-blurb-overlay{
               color:rgba(255,255,255,.9);
               font-family:"Helvetica Neue LT Pro Thin Extended";
               height:350px;
               overflow:hidden;
               position:absolute;
               text-align:center;
               text-shadow:1px 1px 2px rgba(0,0,0,.5);
               width:100%;
          }

#ourstory-slide img{
     background:rgba(255,255,255,.08);
     border-bottom:4px solid rgba(255,255,255,.08);
     border-left:2px solid rgba(255,255,255,.08);
     border-right:2px solid rgba(255,255,255,.08);
     border-top:4px solid rgba(255,255,255,.08);
     width:100%;
}

.about-ourstory-images{
     height:200px;
}