@font-face{ /*For all section headings and link headings + font-weight:bold;*/
     font-family:"Helvetica Neue LT Pro Thin";
     src:url("../fonts/HelveticaNeueLTPro-Th.otf");
}

@font-face{ /*For all text/links*/
     font-family:"Helvetica Neue LT Pro Light";
     src:url("../fonts/HelveticaNeueLTPro-Lt.otf");
}

@font-face{
     font-family:"Helvetica Neue LT Pro Medium";
     src:url("../fonts/HelveticaNeueLTPro-Md.otf");
}

@font-face{
     font-family:"Helvetica Neue LT Pro Roman";
     src:url("../fonts/HelveticaNeueLTPro-Roman.otf");
}

@font-face{
     font-family:"Entypo";
     src:url("../img/icons/Entypo.otf");
}

@font-face{
     font-family:"Entypo Social";
     src:url("../img/icons/Entypo-Social.otf");
}

/*Shop*/
  /*Secondary navigation*/
  #side-navbar ul{
    padding:0;
    margin:0;
    line-height:1em;
    font-size:1em;
  }

  #side-navbar {
    display:block;
    position:fixed;
    min-width:15%;
    max-width:20%;
    height:50%;
    background-color:#efefef;
    top:25%
  }

  #side-navbar-content {
    display:inline-block;
    margin-left:10%;
  }

  #categories-heading {
    font-size:1.2em;
  }

  .shop-category {
    display:block;
    margin-top:2em;
  }

  .shop-category-heading {
    font-family:"Helvetica Neue LT Pro Medium";
    font-size:1.2em;
  }

  .shop-category-item {
    font-family:"Helvetica Neue LT Pro Light";
  }

  /*Shop content*/
  #shop-content-container{
    width:80%;
  /*  background-color:blue;*/
    margin-left:20%;
    margin-top:115px;
  }

  #shop-video {
    margin-left:2em;
  }

  /*Product display*/
  .product {
    display:inline-block;
    float:left;
    width:25%;
    height:350px;
    background-color:white;
    margin:2em;
    border:1px solid black;
  }

  .product-image {
    display:block;
    float:left;
    width:100%;
    height:80%;
    background-color:rgba(74,74,74,0.5);
  }

  .info-icons-wrapper {
    display:inline-block;
    float:left;
    width:70%;
    height:13%;
    background-color:rgba(74,74,74,0.3);
    text-align:center;
  }

  .icon-description {
    width:25%;
    height:100%;
    margin:0 3%;
    background-color:rgba(74,74,74,1);
    float:left;
  }

  .price-holder {
    display:inline-block;
    float:right;
    width:30%;
    height:13%;
    background-color:rgba(74,74,74,0.7);
    line-height:0.7em;
    text-align:center;
  }


  .product-name {
    display:inline-block;
    float:left;
    width:100%;
    height:7%;
    background-color:rgba(74,74,74,0.1);
    text-align:center;
    margin:0;
  }
