/*Colors:
-Blue: #006cb8, rgba(0,108,184,1)
-Blue (EcoQube): #015189, rgba(0,81,137,1)
-Green: #26a02f, rgba(38,160,47,1)
-Gray: #4a4a4a, rgba(74,74,74,1)
-Gray (Light): #efefef, rgba(239,239,239,1)*/

/*Fonts*/
     @font-face{ /*For all section headings and link headings + font-weight:bold;*/
          font-family:"Helvetica Neue LT Pro Thin";
          src:url("../fonts/HelveticaNeueLTPro-Th.otf");
     }

     @font-face{ /*For all text/links*/
          font-family:"Helvetica Neue LT Pro Light";
          src:url("../fonts/HelveticaNeueLTPro-Lt.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Medium";
          src:url("../fonts/HelveticaNeueLTPro-Md.otf");
     }

     @font-face{
          font-family:"Helvetica Neue LT Pro Roman";
          src:url("../fonts/HelveticaNeueLTPro-Roman.otf");
     }

     @font-face{
          font-family:"Entypo";
          src:url("../img/icons/Entypo.otf");
     }

     @font-face{
          font-family:"Entypo Social";
          src:url("../img/icons/Entypo-Social.otf");
     }

*, *:before, *:after { /*Borders and padding are drawn inside the set width of the content*/
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

a {
  text-decoration:none;
  color:#4a4a4a;
}

ul {
  list-style:none;
}

*{
     font-family:"Helvetica Neue LT Pro Light";
}

body{
     border:0;
     margin:0 auto;
     max-width:1600px;
     min-width:1280px;
     padding:0;
     /*width:100%;*/
}

/*Header*/
     #header-container{
          background-color:rgba(239,239,239,.95);
          box-shadow:2px 2px 2px rgba(0,0,0,.2);
          height:115px;
          margin:0 auto;
          max-width:1600px;
          min-width:1280px;
          padding:1em 1em 1em 1em;
          position:fixed;
          width:100%;
     }

     header{
     }

     #header-logo{
          float:left;
     }

     #header-logo img{
          width:450px;
     }

     /*#header-navigation{

     }

     #header-navigation ul li{
          display:block;
          float:left;
          list-style:none;
     }*/

     #header-navigation{
          float:right;
          padding-top:1em;
          /*width:100%;*/
     }

     /*#header-navigation ul{
          margin:0 auto;
     }*/

     /*#header-navigation ul, #header-navigation li{
         display:inline;
         list-style:none;
         position:absolute;
         width:auto;
     }*/

     .header-heading{
          font-weight:bold;
          text-transform:uppercase;
     }

     #current{
          color:rgba(0,108,184,1);
     }

     #header-cart-icon{
          font-family:"Entypo";
          font-size:3em;
          line-height:0em;
     }

     /*Dropdown*/
          #header-navigation ul{
               display:inline;
               list-style:none;
               margin:0;
               padding:0;
               z-index:10;
          }

          #header-navigation ul li{
               float:left;
               display:block;
               padding:10px 15px 5px 15px;
               position:relative;
          }

          #header-navigation ul li ul {
               display: none;
          }

          #header-navigation ul li a {
               display:block;
               margin-left:1px;
               text-decoration:none;
               white-space:nowrap;
          }

          /*#header-navigation ul li a:hover {*/
               /*z-index:10;*/
          /*}*/

          #header-navigation ul li:hover {
               /*background:rgba(150,250,0,1);*/
               padding-bottom:7px;
               z-index:10;
          }

          #header-navigation ul li ul li:hover {
               /*background:rgba(100,50,90,1);*/
               border-radius:0;
               rgba(38,160,47,1)
          }

          #header-navigation li:hover ul {
               background:rgba(239,239,239,.95);
               box-shadow:2px 2px 2px rgba(0,0,0,.1);
               display: block;
               left:0px;
               position:absolute;
               top:34px;
          }

          #header-navigation li:hover li {
               float:none;
               padding:10px 50px 10px 14px;
          }

          #header-navigation li:hover li:first-of-type{
              border-top:5px solid rgba(74,74,74,1);
          }

     /*Header Links*/
          header a:link{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               font-size:1.3em;
               text-decoration:none;
          }

          header a:visited{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }

          header a:hover{
               color:rgba(0,108,184,1);
               font-family:"Helvetica Neue LT Pro Light";
               opacity:.9;
               text-decoration:none;
          }

          header a:active{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }

/*Content*/
     #content-container{
          background:url("../img/witewall_3.png") repeat;
          margin:0 auto;
          max-width:1600px;
          min-width:1280px;
          /*opacity:.5;*/
          width:100%;
     }

     a.anchor{
          display:block;
          position:relative;
          top:-125px;
          visibility:hidden;
     }

     .section{
          display:inline-block;
          max-width:1600px;
          min-width:1300px;
          width:100%;
     }

     .section-heading{
          color:rgba(74,74,74,1);
          font-family:"Helvetica Neue LT Pro Light";
          font-size:2em;
          font-weight:bold;
          text-transform:uppercase;
     }

     .section-left-col{
          display:inline-block;
          float:left;
          /*font-size:1em;*/
          height:auto;
          margin:2em 0 2em 2em;
          max-width:75%;
          /*min-width:100%;*/
          /*width:80%;*/
     }

     .section-right-col{
          display:inline-block;
          float:right;
          height:auto;
          margin:2em 2em 2em 0;
          max-width:100%;
          /*min-width:50%;*/
          /*width:20%;*/
     }

     /*Splash video*/
          .video-1{
               width:100%;
          }

          .video-1 img{
               width:100%;
          }

     /*blurb*/
          .blurb img{
               width:100%;
          }

/*Footer*/
     #footer-container{
          background-color:rgba(239,239,239,1);
          margin:0 auto;
          max-width:1600px;
          min-width:1280px;
          width:100%;
     }

     #footer-topbar{
          background-color:rgba(0,108,184,1);
          color:rgba(255,255,255,1);
          height:auto;
          max-width:100%;
          padding:.5em 0 .5em 0;
          text-align:center;
          text-transform:uppercase;
     }

     footer{
          padding:0 1em .2em 1em;
     }

     #footer-left-col{
          display:inline-block;
          float:left;
          /*height:100px;*/
          /*max-width:200px;*/
          height:100%;
          width:auto;
     }

     #footer-logo img{
          width:300px;
     }

     #footer-right-col{
          display:inline-block;
          float:right;
          /*height:auto;*/
          max-width:100%;
     }

     #footer-contact{
          display:inline-block;
          /*color:rgba(74,74,74,1);*/
          font-size:1.2em;
          width:100%;
     }

     #footer-contact li{
          display:inline;
          float:left;
          list-style:none;
     }

     #footer-phone-email{
          display:inline;
          float:left;
     }

     .footer-phone-email-icon{
          font-family:"Entypo";
          font-size:3em;
          line-height:0em;
     }

     #footer-social-media{
          display:inline;
          float:right;
          padding-right:2.5em;
     }

     .footer-social-media-icon{
          font-family:"Entypo Social";
          font-size:3em;
          line-height:0em;
     }

     #footer-sitemap-container{
          width:100%;
     }

     .footer-heading-1{
          display:block;
          /*font-family:"Helvetica Neue LT Pro Light";*/
          padding-top:1em;
          padding-bottom:1em;
          text-transform:uppercase;
          text-align:center;
          width:100%;
     }

     #footer-sitemap{
          display:inline-block;
          font-size:1em;
     }

     #footer-sitemap ul{
          display:inline-block;
          float:left;
          list-style:none;
          padding-right:2em;
     }

     .footer-heading-2{
          /*font-family:"Helvetica Neue LT Pro Light";*/
          font-weight:bold;
          text-transform:uppercase;
     }

     #footer-copyright{
          color:rgba(74,74,74,1);
          display:inline-block;
          font-size:.7em;
          text-align:center;
          text-transform:uppercase;
          width:100%;
     }

     /*Footer Links*/
          footer a:link{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }

          footer a:visited{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }

          footer a:hover{
               color:rgba(0,108,184,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }

          footer a:active{
               color:rgba(74,74,74,1);
               font-family:"Helvetica Neue LT Pro Light";
               text-decoration:none;
          }
