/*Colors:
-Blue: #006cb8, rgba(0,108,184,1)
-Blue (EcoQube): #015189, rgba(0,81,137,1)
-Green: #26a02f, rgba(38,160,47,1)
-Gray: #4a4a4a, rgba(74,74,74,1)
-Gray (Light): #efefef, rgba(239,239,239,1)*/

/*Fonts*/
@font-face{
  font-family:"Helvetica Neue LT Pro Thin";
  src:url("../fonts/HelveticaNeueLTPro-Th.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Thin Condensed";
  src:url("../fonts/HelveticaNeueLTPro-ThCn.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Light";
  src:url("../fonts/HelveticaNeueLTPro-Lt.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Light Extended";
  src:url("../fonts/HelveticaNeueLTPro-LtEx.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Light Italic";
  src:url("../fonts/HelveticaNeueLTPro-LtIt.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Medium";
  src:url("../fonts/HelveticaNeueLTPro-Md.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Extended";
  src:url("../fonts/HelveticaNeueLTPro-Ex.otf");
}

@font-face{
  font-family:"Helvetica Neue LT Pro Extended";
  src:url("../fonts/HelveticaNeueLTPro-Ex.otf");
}

@font-face {
  font-family:"Fontello";
  src: url('../fonts/fontello.eot?');
  src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?') format('woff'),
  url('../fonts/fontello.ttf?') format('truetype'),
  url('../fonts/fontello.svg?#fontello') format('svg');
}

*, *:before, *:after { /*Borders and padding are drawn inside the set width of the content*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*{
  font-family:"Helvetica Neue LT Pro Light";
}

.upper-margin{
  margin-top:100px;
}

.center {
  text-align:center;
}

body{
  border:0;
  margin:0 auto;
  max-width:1600px;
  min-width:1280px;
  padding:0;
  /*width:100%;*/
}

/*Header*/
#header-container{
  background-color:rgba(250,250,250,.98);
  box-shadow:2px 2px 2px rgba(0,0,0,.2);
  height:100px;
  margin:0 auto;
  max-width:1600px;
  min-width:1280px;
  padding:.5em .5em .5em 1em;
  position:fixed;
  width:100%;
  z-index:100;
}

.current{
  color:rgba(0,108,184,1);
}

header{
}

#header-logo{
  float:left;
}

#header-logo img{
  width:450px;
}

/*#header-navigation{

}

#header-navigation ul li{
display:block;
float:left;
list-style:none;
}*/

#header-navigation{
  float:right;
  padding-top:2em;
  /*width:100%;*/
}

/*#header-navigation ul{
margin:0 auto;
}*/

/*#header-navigation ul, #header-navigation li{
display:inline;
list-style:none;
position:absolute;
width:auto;
}*/

.header-heading{
  font-weight:bold;
  text-transform:uppercase;
}

#header-current{
  color:rgba(0,108,184,1);
}

#header-icon-cart{
  font-family:"Fontello";
  font-size:1.5em;
}

/*Dropdown*/
#header-navigation ul{
  display:inline;
  list-style:none;
  margin:0;
  padding:0;
  z-index:10;
}

#header-navigation ul li{
  float:left;
  display:block;
  padding:10px 15px 5px 15px;
  position:relative;
}

#header-navigation ul li ul {
  display: none;
}

#header-navigation ul li a {
  display:block;
  margin-left:1px;
  text-decoration:none;
  white-space:nowrap;
}

/*#header-navigation ul li a:hover {*/
/*z-index:10;*/
/*}*/

#header-navigation ul li:hover {
  /*background:rgba(150,250,0,1);*/
  padding-bottom:7px;
  z-index:10;
}

#header-navigation ul li ul li:hover {
  /*background:rgba(100,50,90,1);*/
  border-radius:0;
  rgba(38,160,47,1)
}

#header-navigation li:hover ul {
  background:rgba(250,250,250,.98);
  box-shadow:2px 2px 2px rgba(0,0,0,.1);
  display: block;
  left:0px;
  position:absolute;
  top:45px;
  /*width:100%;*/
}

#header-navigation li:hover li {
  float:none;
  padding:10px 15px 10px 14px;
}

#header-navigation li:hover li:first-of-type{
  border-top:7px solid rgba(79,79,79,1);
}

/*Header Links*/
header a:link{
  color:rgba(79,79,79,1);
  font-family:"Helvetica Neue LT Pro Thin Condensed";
  font-size:1.5em;
  letter-spacing:.05em;
  text-decoration:none;
}

header a:visited{
  color:rgba(79,79,79,1);
  text-decoration:none;
}

header a:hover{
  color:rgba(0,108,184,1);
  text-decoration:none;
}

header a:active{
  color:rgba(79,79,79,1);
  text-decoration:none;
}

/*Dot navigation*/
#dot-navigation-container{
  /*background-color:white;*/
  height:auto;
  left:97%;
  position:fixed;
  top:35%;
  width:auto;
  z-index:9; /*need this so that when it is above the top video (for example) the click does not open the video*/
}

#dot-navigation-container ul{
  margin:0;
  padding:0;
}

.dot-navigation-icon {
  margin:0.1em;
}

/*Content*/
#content-container{
  background:url("../img/witewall_3.png") repeat;
  margin:0 auto;
  max-width:1600px;
  min-width:1280px;
  /*opacity:.5;*/
  width:100%;
}

a.anchor{
  display:block;
  position:relative;
  top:-100px;
  visibility:hidden;
}

/*First section*/
/*This id tag should only be used once per page*/
#first-section-margin{
  margin-top:100px;
}

/*Last section*/
/*This id tag should only be used once per page*/
#last-section-margin{
  margin-bottom:100px;
}

/*All sections*/
.section-container{
  display:inline-block;
  max-width:1600px;
  min-width:1300px;
  width:100%;
}

.section-content{
  margin:3em 2em 3em 2em;
}

.section-heading{
  color:rgba(74,74,74,1);
  font-family:"Helvetica Neue LT Pro Extended";
  font-size:2.2em;
  /*font-weight:bold;*/
  /*text-transform:uppercase;*/
}

.section-heading-2{
  color:rgba(74,74,74,1);
  font-family:"Helvetica Neue LT Pro Light Extended";
  font-size:1.9em;
  /*font-weight:bold;*/
  /*text-transform:uppercase;*/
}

.section-text{
  font-size:1.1em;
}

/*Footer*/
#footer-container{
  background-color:rgba(250,250,250,.98);
  margin:0 auto;
  max-width:1600px;
  min-width:1280px;
  width:100%;
}

#footer-topbar{
  background-color:rgba(0,108,184,1);
  color:rgba(255,255,255,1);
  height:auto;
  max-width:100%;
  padding:.5em 0 .5em 0;
  text-align:center;
  text-transform:uppercase;
}

footer{
  padding:0 1em .2em 1em;
}

#footer-left-col{
  display:inline-block;
  float:left;
  /*height:100px;*/
  /*max-width:200px;*/
  height:100%;
  width:auto;
}

#footer-logo img{
  width:300px;
}

#footer-right-col{
  display:inline-block;
  float:right;
  /*height:auto;*/
  max-width:100%;
}

#footer-contact{
  display:inline-block;
  /*color:rgba(74,74,74,1);*/
  font-size:1.2em;
  width:100%;
}

#footer-contact li{
  display:inline;
  float:left;
  list-style:none;
}

#footer-phone-email{
  display:inline;
  float:left;
}

#footer-icon-email{
  font-family:"Fontello";
  font-size:1em;
  padding-right:.1em;
}

#footer-icon-phone{
  font-family:"Fontello";
  font-size:1em;
  padding-left:.5em;
  padding-right:.2em;
}

#footer-social-media{
  display:inline;
  float:right;
  padding-right:1.5em;
}

#footer-icon-fb{
  font-family:"Fontello";
  font-size:1.5em;
}

#footer-icon-tw{
  font-family:"Fontello";
  font-size:1.5em;
  padding-left:.7em;
}

#footer-sitemap-container{
  width:100%;
}

.footer-heading-1{
  display:block;
  padding-top:1em;
  padding-bottom:1em;
  text-transform:uppercase;
  text-align:center;
  width:100%;
}

#footer-sitemap{
  display:inline-block;
  font-size:1em;
}

#footer-sitemap ul{
  display:inline-block;
  float:left;
  list-style:none;
  padding-right:2em;
}

.footer-heading-2{
  font-weight:bold;
  text-transform:uppercase;
}

#footer-copyright{
  color:rgba(74,74,74,1);
  display:inline-block;
  font-size:.7em;
  text-align:center;
  text-transform:uppercase;
  width:100%;
}

/*Footer Links*/
footer a:link{
  color:rgba(74,74,74,1);
  font-family:"Helvetica Neue LT Pro Light";
  text-decoration:none;
}

footer a:visited{
  color:rgba(74,74,74,1);
  font-family:"Helvetica Neue LT Pro Light";
  text-decoration:none;
}

footer a:hover{
  color:rgba(0,108,184,1);
  font-family:"Helvetica Neue LT Pro Light";
  text-decoration:none;
}

footer a:active{
  color:rgba(74,74,74,1);
  font-family:"Helvetica Neue LT Pro Light";
  text-decoration:none;
}








/*----- E: I'm not sure what the follow is for?? So, I do not know which section to put it in like above -----*/

a {
  /*color:#4a4a4a;*/ /*E: I think the links should be blue...*/
  color:rgba(0,108,184,1);
  text-decoration:none;
}

ul {
  list-style:none;
}

/*** shopping cart ***/
.shopping-cart{
  display: block;
  width: 10em;
}

.shopping-cart  ul.shopping-cart-submenu  ul.shopping-header li{
  background-color: grey;
  color: white;
  float:left;
}

.shopping-cart-submenu{
  clear:both;
  display: none;
}
